@font-face {
    font-family: 'puhuiti';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('fonts/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2'),
        url('fonts/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'puhuiti';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('fonts/AlibabaPuHuiTi-3-75-SemiBold.woff2') format('woff2'),
        url('fonts/AlibabaPuHuiTi-3-75-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('fonts/JetBrainsMono-Regular.woff2') format('woff2')
}

body {
    font-family: 'puhuiti';
}

code {
    font-family: 'JetBrainsMono';
}